.Heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &Content {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      letter-spacing: 0.3rem;
    }
    h2 {
      font-family: 'Playfair Display', serif;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 6rem;

      span {
        font-style: italic;
        font-weight: 400;
      }
    }
    &Button {
      transition: all 1s;
      text-decoration: none;
      padding: 1.7rem 4rem;
      list-style: none;
      outline: none;
      border: none;
      background: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.4rem;
      background-color: #252525;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: #444;
      }
    }
  }
  &Arrow {
    margin-bottom: -10rem;
    transition: all 0.4s;

    &:hover {
      animation: bounce-in-top 1s ease-in-out 0.1s infinite;
    }

    a {
      svg {
        transition: all 0.3s;

        border: 1px solid #bfbfbf;
        padding: 1rem;
        font-size: 5rem;
        border-radius: 50%;
        color: #bfbfbf;

        &:hover {
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }
}

.slideInTop {
  -webkit-animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes bounce-in-top {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
