.Container {
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 600px) {
  .Container {
    max-width: 786px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 960px) {
  .Container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
  }
}