.Info {
  height: 25vh;
  margin-top: 5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 24px !important;
  color: rgb(78, 78, 78) !important;
}

.TheInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &Container {
    display: flex;
    justify-content: center;
    align-items: center;

    &Image {
      margin-right: 3rem;

      svg {
        font-size: 5rem;
        color: rgb(0, 0, 0);
      }
    }
    &Info {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      p {
        font-size: 15px;
        font-weight: 100;
        color: rgb(56, 53, 53);
        font-family: 'Work Sans', sans-serif;
      }
    }
  }
}

.slideInLeft {
  -webkit-animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slideInRight {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
