.tour-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: 3%;
}

.container-tour {
  width: 80%;
  margin-left: 10%;
}
.slide-image {
  height: 300px;
  width: 470px;
  margin-left: 5%;
  margin-right: 8%;
}

.map {
  width: 60%;
  height: 100%;
}

.content-tour{ 
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail-tour{
    width: 40%;
    padding: 5px;
   
}

.infor-tour {
  width: 30%;
  padding: 5px;
}

.detail {
  font-size: 30px;
}

.tour-info {
  font-size:30px;
}

.time-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}

h4 {
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: #AAB017;
  padding: 20px;
  margin-bottom: 20px;
}