/** @format */

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link {
  display: flex;
  text-decoration: none;
  width: 23%;
}

.icon-loading {
  align-items: center;
  text-align: center;
}

.error-loading {
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.card__item {
  padding: 30px;
  padding-top: 20px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
h3 {
  text-align: center;
  font-size: 4rem;
  margin-top: 20px;
}
.grid__item {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  border: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  a {
    text-decoration: none;
  }
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  margin: 10px;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
}

.card__image {
  position: relative;
  min-height: 22.3125rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .icon-heart {
    top: 0.9375rem;
    right: 0.9375rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1000;
  }
}

.card__content {
  padding: 10px 10px;
}

.card__title {
  margin-top: 15px;
  font-size: 20px;
  color: #ff4d55;
  height: 30px;
  overflow: hidden;
}

.card__price {
  margin-bottom: 5px;
  color: #ff4d55;
}
.card__description {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ababab;
  height: 80px;
  overflow: hidden;
}
.card__footer {
  display: flex;
  margin-top: 10px;
}

.card__address {
  margin-left: 10px;
  margin-right: 60px;
  color: #ababab;
}

.address {
  display: flex;
  padding: 5px 0px;
}
.card__icon {
}
