#map {
  height: 100vh;
}

.map {
  position: relative;

  &,
  .map-base {
    width: 100%;
    height: 100%;
    background: grey;
  }
}

.map-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: grey;
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin: auto;
}

.map-marker {
  &[class*='shadow'] {
    filter: blur(5px);
    opacity: 0.7;
  }
}

.icon-trip-stop {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: #ff9800;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.trip-stop {

  width: 400px;
  overflow: hidden;

  h2 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: .2em;
  }

  p,
  ul,
  h3 {
    font-size: 1.2em;
    font-weight: normal;
  }

  p {
    margin: .2em 0;
  }

  .trip-stop-date {
    color: grey;
    font-size: 1em;
  }

  ul {
    padding: 0 0 0 1.4em;
    margin: 0;
  }

}


.trip-stop-image {
  display: block;
  float: left;
  overflow: hidden;
  width: 150px;
  height: 150px;
  text-indent: 100%;
  color: transparent;
  background-position: center;
  background-size: cover;
}

.trip-stop-content {
  float: left;
  width: 250px;
  padding-left: 1em;
}