// .each-slide > div {
//   position: relative;
// 	min-height: 600px;
// 	background-size: cover;
// 	background-position: center;
// 	background-repeat: no-repeat;
// }

// .each-slide span {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   width: 100%;
//   font-size: 70px;
//   color: #c3bf85;
//   background: #efefef;
//   text-align: center;
//   position: absolute;
//   top: 50%;
//   bottom: 50%;
//   left: 0;
//   right: 50%;
//   opacity: 0.8;
// }


